<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

    <add key="ida:AADInstance" value="https://login.windows.net/{0}" />
    <add key="ida:Tenant" value="aluwanibusiness.onmicrosoft.com" />
    <add key="ida:ClientId" value="007e8f63-61a6-41aa-a1e0-abce8e5b2fcc" />
    <add key="ida:RedirectUri" value="http://AluwaniClient" />

    <add key="ApiResourceId" value="http://aluwanibusiness.onmicrosoft.com/AluwaniWebApi" />
    <add key="ApiBaseAddress" value="http://localhost:24463/" />

  </appSettings>
</configuration>